.custom_box {
  padding-bottom: 140px;
  margin: 0 auto;
  width: 1440px;
  .custom_banner {
    width: 100%;
    margin-bottom: 140px;
  }
  .custom_content {
    padding: 50px 0 140px 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    .custom_content_item {
      background: linear-gradient(128deg, #e6e7ed 0%, #f7f8fa 100%),
        linear-gradient(147deg, #eeefef 0%, #eeefef 100%);
      box-shadow: 5px 4px 21px 0px #d7d7d7, -9px -9px 19px 0px #fafbfc,
        inset 1px 1px 19px 0px #e9eaf2, inset -1px -1px 19px 0px #f5f6fa;
      width: 448px;
      .custom_content_item_img {
        height: 448px;
        box-sizing: border-box;
      }
      .custom_content_item_wrapper {
        height: 204px;
        padding: 20px;
        box-sizing: border-box;
        .custom_content_item_name {
          font-family: PingFangSC, PingFang SC;
          font-weight: 500;
          font-size: 26px;
          color: #c2841f;
          line-height: 37px;
          letter-spacing: 3px;
          font-style: normal;
          text-align: center;
        }
        .custom_content_item_line {
          width: 230px;
          height: 1px;
          background: #da931e;
          margin: 20px auto;
        }
        .custom_content_item_content {
          box-sizing: border-box;
          font-family: PingFangSC, PingFang SC;
          font-weight: 400;
          font-size: 24px;
          color: #c2841f;
          line-height: 33px;
          text-align: center;
          font-style: normal;
        }
      }
    }
  }

  .content_flow_content {
    background: url('@/assets/images/custom/flow.png') no-repeat center center;
    background-size: cover;
    width: 100%;
    height: 900px;
    margin: 140px 0;
  }

  .content_flow {
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 60px;

    .web {
      display: block;
    }
    .wap {
      display: none;
    }

    .content_flow_path_top {
      width: 107.13px;
      height: 20.67px;
      margin: 0 15px;
    }

    .content_flow_path_bottom {
      width: 107.13px;
      height: 20.67px;
      margin: 0 15px;
      transform: rotate(180deg);
    }

    .content_flow_item {
      width: 200px;
      height: 185px;
      background: linear-gradient(128deg, #e6e7ed 0%, #f7f8fa 100%),
        linear-gradient(147deg, #eeefef 0%, #eeefef 100%);
      box-shadow: 4px 3px 17px 0px #d7d7d7, -7px -7px 15px 0px #fafbfc,
        inset 1px 1px 15px 0px #e9eaf2, inset -1px -1px 15px 0px #f5f6fa;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;

      .content_flow_img {
        width: 56px;
        height: 56px;
      }
      .content_flow_item_title {
        font-family: PingFangSC, PingFang SC;
        font-weight: 500;
        font-size: 22px;
        color: #c2841f;
        line-height: 30px;
        letter-spacing: 1px;
        text-align: center;
        font-style: normal;
        text-transform: none;
        margin-top: 10px;
        border-bottom: 1px solid #c2841f;
        padding-bottom: 5px;
      }
      .content_flow_item_content {
        font-family: PingFangSC, PingFang SC;
        font-weight: 400;
        font-size: 14px;
        color: #c2841f;
        line-height: 20px;
        text-align: center;
        font-style: normal;
        text-transform: none;
        margin-top: 10px;
      }
    }
  }

  .my_buy {
    margin: 0 auto;
    width: 327px;
    height: 64px;
    background: #193e73;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 140px;
    cursor: pointer;
    font-family: PingFangSC, PingFang SC;
    font-weight: 500;
    font-size: 28px;
    color: #ffffff;
    line-height: 40px;
    text-align: left;
    font-style: normal;
  }
}

@media screen and (max-width: 768px) {
  .custom_box {
    padding-bottom: 50px;
    box-sizing: border-box;
    width: 90%;

    .custom_banner {
      margin-bottom: 30px;
    }

    .custom_content {
      padding: 30px 0 !important;
      flex-direction: column;
      .custom_content_item {
        width: 100% !important;
        margin-bottom: 30px;

        .custom_content_item_img {
          width: 100%;
          height: 350px;
        }
        .custom_content_item_wrapper {
          padding: 20px;
          height: auto;
          box-sizing: border-box;
          .custom_content_item_name {
            font-size: 20px;
          }
          .custom_content_item_line {
            width: 230px;
            height: 1px;
            background: #da931e;
            margin: 10px auto;
          }
          .custom_content_item_content {
            font-size: 18px;
          }
        }
      }
    }

    .content_flow_content {
      background: url('@/assets/images/custom/wap_flow.png') no-repeat center
        center;
      background-size: cover;
      width: 100%;
      height: 300px;
      margin: 20px 0;
    }

    .content_flow {
      padding-top: 20px !important;
      display: flex;
      flex-wrap: wrap;
      align-items: center;
      justify-content: center;

      .web {
        display: none;
      }
      .wap {
        display: block;
      }

      .content_flow_path_top {
        width: 65.17px !important;
        height: 12.65px !important;
        margin: 0 10px !important;
        padding-bottom: 50px;
      }

      .content_flow_path_bottom {
        width: 65.17px !important;
        height: 12.65px !important;
        margin: 0 10px !important;
        transform: rotate(180deg);
        padding-top: 50px;
      }

      .content_flow_item {
        width: 121px;
        height: 113px;
        margin-bottom: 50px;

        .content_flow_img {
          width: 34.07px;
          height: 34.07px;
        }
        .content_flow_item_title {
          font-size: 12px;
          line-height: 17px;
        }
        .content_flow_item_content {
          font-size: 9px;
          line-height: 12px;
        }
      }
    }

    .my_buy {
      width: 194px !important;
      height: 40px !important;
      font-size: 18px !important;
      line-height: 25px !important;
      margin-top: 10px;
    }
  }
}
