.title_content {
  text-align: center;
  margin-bottom: 60px;
  user-select: none;
  .title {
    font-size: 34px;
    font-family: PingFangSC, PingFang SC;
    font-weight: 500;
    color: #000000;
    line-height: 32px;
    letter-spacing: 2px;
  }
  .sub_title {
    font-size: 18px;
    font-family: PingFangSC, PingFang SC;
    font-weight: 400;
    color: #a0a0a0;
    line-height: 20px;
    letter-spacing: 1px;
    margin-top: 20px;
  }
}
