@media screen and (orientation: landscape) {
  .footer {
    background-color: #eeefef;

    .footer_banner {
      box-sizing: border-box;
      height: 578px;
      position: relative;

      .image {
        width: 100%;
        height: 100%;
        vertical-align: bottom;
        background:url('@/assets/images/footer/banner.png') no-repeat;
      }

      .footer_banner_wrapper {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        text-align: center;
        font-family: PingFangSC, PingFang SC;
        font-weight: 500;
        color: #ffffff;
        font-style: normal;

        .footer_banner_title {
          font-size: 72px;
          line-height: 72px;
        }

        .footer_banner_sub_title {
          margin-top: 30px;
          font-size: 45px;
          line-height: 47px;
        }
      }
    }

    .footer_wrapper {
      height: 527.66px;
      background: url('@/assets/images/footer/bg.png') no-repeat center center / 100% 100%;
      padding-top: 130px;
      box-sizing: border-box;

      .footer_box {
        width: 1440px;
        height: 100%;
        margin: 0 auto;
        display: flex;
        flex-direction: column;

        .footer_box_top {
          font-family: PingFangSC, PingFang SC;
          font-weight: 500;
          font-size: 28px;
          color: #333333;
          line-height: 40px;
          text-align: left;
          font-style: normal;
          height: 50px;
          margin-left: 130px;
        }

        .footer_box_wrapper {
          flex: 1;
          display: flex;
          justify-content: space-between;

          .footer_box_wrapper_about {
            margin-left: 130px;
          }

          .footer_box_wrapper_title {
            font-family: PingFangSC, PingFang SC;
            font-weight: 500;
            font-size: 24px;
            color: #333333;
            line-height: 33px;
            text-align: left;
            font-style: normal;
            margin-top: 23px;
          }

          .footer_box_wrapper_sub_title {
            font-family: PingFangSC, PingFang SC;
            font-weight: 500;
            font-size: 14px;
            color: #5e5c5c;
            line-height: 20px;
            text-align: left;
            font-style: normal;
            margin-top: 23px;
          }

          .footer_box_wrapper_qrcode {
            display: flex;

            img {
              width: 165px;
              height: 165px;
              margin-right: 10px;

              &:last-child {
                margin-right: 0;
              }
            }
          }
        }

        .footer_box_bottom {
          border-top: 1px solid #5e5c5c;
          width: 1440px;
          height: 50px;
          line-height: 50px;
          text-align: center;
          color: #5e5c5c;

          a {
            color: #5e5c5c;
            margin-right: 10px;
          }
        }
      }
    }
  }
}

@media screen and (orientation: portrait) {
  .footer {
    background-color: #eeefef;

    .footer_banner {
      box-sizing: border-box;
      height: 578px;
      position: relative;

      .img {
        width: 100vw !important;
        height: 40vw !important;
        display: inline-block !important;
        background:url('../../assets/images/about/about_mob.png') no-repeat center center;
      }

      .footer_banner_wrapper {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        text-align: center;
        font-family: PingFangSC, PingFang SC;
        font-weight: 500;
        color: #ffffff;
        font-style: normal;

        .footer_banner_title {
          font-size: 72px;
          line-height: 72px;
        }

        .footer_banner_sub_title {
          margin-top: 30px;
          font-size: 45px;
          line-height: 47px;
        }
      }
    }

    .footer_wrapper {
      height: 527.66px;
      background: url('@/assets/images/footer/bg.png') no-repeat center center / 100% 100%;
      padding-top: 130px;
      box-sizing: border-box;

      .footer_box {
        width: 1440px;
        height: 100%;
        margin: 0 auto;
        display: flex;
        flex-direction: column;

        .footer_box_top {
          font-family: PingFangSC, PingFang SC;
          font-weight: 500;
          font-size: 28px;
          color: #333333;
          line-height: 40px;
          text-align: left;
          font-style: normal;
          height: 50px;
          margin-left: 130px;
        }

        .footer_box_wrapper {
          flex: 1;
          display: flex;
          justify-content: space-between;

          .footer_box_wrapper_about {
            margin-left: 130px;
          }

          .footer_box_wrapper_title {
            font-family: PingFangSC, PingFang SC;
            font-weight: 500;
            font-size: 24px;
            color: #333333;
            line-height: 33px;
            text-align: left;
            font-style: normal;
            margin-top: 23px;
          }

          .footer_box_wrapper_sub_title {
            font-family: PingFangSC, PingFang SC;
            font-weight: 500;
            font-size: 14px;
            color: #5e5c5c;
            line-height: 20px;
            text-align: left;
            font-style: normal;
            margin-top: 23px;
          }

          .footer_box_wrapper_qrcode {
            display: flex;

            img {
              width: 165px;
              height: 165px;
              margin-right: 10px;

              &:last-child {
                margin-right: 0;
              }
            }
          }
        }

        .footer_box_bottom {
          border-top: 1px solid #5e5c5c;
          width: 1440px;
          height: 50px;
          line-height: 50px;
          text-align: center;
          color: #5e5c5c;

          a {
            color: #5e5c5c;
            margin-right: 10px;
          }
        }
      }
    }
  }
}